html {
    cursor: none;
    overflow: hidden;
}
.pointer {
    position: absolute;
    height: 480px; top:100px;
    width: 480px; left:50%;
    pointer-events: none;
}

.pointer img {
    width: 140px;
}